@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body{ font-family: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; }



@media (max-width: 495px) {
  #header {
    flex-direction: column; 
   align-items: start;
   padding-left: 10px;
  }

  #home-and-watchlist{
    padding-top: 10px;
  }
}